html, body{
  font-size: 18px;
  font-family: Helvetica;
}

.header{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: flex-start;
  width: 960px;
}

.header img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.header h2{
  color: white;
  text-transform: uppercase;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

#main-banner{
  display: flex;
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}

#main-banner-text{
  background-color: black;
  padding-top: 9rem;
  color: white;
  width: 20rem;
  height: 5rem;
}

#main-banner-text h2{
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

#main-banner-text h1{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 3rem;
}
